/* Small Screen */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px 32px
}

.title h1 {
  color: #06d6a0;
  text-align: center;
  font-size: 3.05rem;
}

.title p {
  color: #118ab2;
  text-align: center;
  font: 1rem;
  margin: 10px 0 40px 0;
}

.table_container {
  overflow: hidden;
  margin-top: 20px;
}

.province_table {
  width: 100%;
  border-collapse: collapse;
}

.province_table th,
.province_table td {
  padding: 8px;
  text-align: center;
}

.province_table th {
  background-color: #06d6a0;
  color: white;
}

.province_table tr:nth-child(even) {
  background-color: #06d69e46;
}

.province_table tr:hover {
  background-color: #06d69e75;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.pagination button {
  background-color: #06d6a0;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-right: 5px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #118ab2;
}

.pagination button.active {
  background-color: #118ab2;
}

/* Medium Screen */
@media (min-width: 768px) {
  .container {
    padding: 26px 0 50px 0;
  }

  .title h1 {
    color: #06d6a0;
    text-align: center;
    font-size: 2.85rem;
  }

  .title p {
    color: #118ab2;
    text-align: center;
    font: 0.8rem;
    margin: 8px 0 30px 0;
  }

  .table_container {
    overflow: hidden;
  }

  .province_table {
    width: 100%;
    border-bottom: black;
    border-radius: 20px;
  }

  .province_table th,
  .province_table td {
    padding: 10px 16px 10px;
    text-align: center;
  }

  .province_table th {
    background-color: #06d6a0;
  }

  .province_table tr:nth-child(even) {
    background-color: #06d69e46;
  }

  .province_table tr:hover {
    background-color: #06d69e75;
  }

  .pagination {
    margin-top: 20px;
  }

  .pagination button {
    background-color: #06d6a0;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 5px;
    cursor: pointer;
  }

  .pagination button:hover {
    background-color: #118ab2;
  }

  .pagination button.active {
    background-color: #118ab2;
  }
}

/* Large Screen */
@media (min-width: 992px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 50px 0;
  }

  .title h1 {
    color: #06d6a0;
    text-align: center;
    font-size: 3.05rem;
  }

  .title p {
    color: #118ab2;
    text-align: center;
    font: 1rem;
    margin: 10px 0 40px 0;
  }

  .table_container {
    overflow: hidden;
    margin-top: 20px;
  }

  .province_table {
    width: 100%;
    border-bottom: black;
    border-radius: 20px;
  }

  .province_table th,
  .province_table td {
    padding: 10px 16px 10px;
    text-align: center;
  }

  .province_table th {
    background-color: #06d6a0;
  }

  .province_table tr:nth-child(even) {
    background-color: #06d69e46;
  }

  .province_table tr:hover {
    background-color: #06d69e75;
  }

  .pagination {
    margin-top: 20px;
  }

  .pagination button {
    background-color: #06d6a0;
    color: white;
    border: none;
    padding: 8px 16px;
    margin-right: 5px;
    cursor: pointer;
  }

  .pagination button:hover {
    background-color: #118ab2;
  }

  .pagination button.active {
    background-color: #118ab2;
  }
}
